.newTweetButton {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    margin: 10px;
    color: white;
    background-color: #3685ff
}

.newTweetButton:hover {
    background-color: #2161c4
}
